@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    min-height : 100vh;
    font-family: 'Karla', sans-serif;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
}

h1 {
    color: hsl(179, 62%, 43%);
}

h2 {
    color: hsl(71, 73%, 54%);
}

p {
    color: white;
}

li {
    list-style: none;
}

button {
    background-color:hsl(71, 73%, 54%);
    color: white;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
    border: hsl(0, 0%, 95%);
    align-items: center;
    width: 180px;
    font-size: 16px;
    outline :none;
    cursor: pointer;

}

button:hover { background-color: #e2e1dd; }

.container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 650px;
        max-height: 600px;
        border-color: black;
    }

    .header {
        background-color: white;
        border: black;
        width: 650px;
    }

    .card {
        color: white;
        display:flex;
        justify-content: center;
        width: 650px;
    }

.card_one {
    background-color: hsl(179, 62%, 43%);
    padding: 50px;
}



.card_two {
    background-color: hsl(218, 22%, 67%);
    padding: 50px;

}



.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }